{% extends 'home.html.twig' %}

{% block title %}Presentation index{% endblock %}

{% block body %}
    {% block texte%}
        <h1>Liste des Presentations disponible</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for presentation in presentations %}
                <tr>
                    <td>{{ presentation.id }}</td>
                    <td>{{ presentation.text }}</td>
                    <td>
                        <a href="{{ path('app_presentation_show', {'id': presentation.id}) }}">voir</a>
                        <a href="{{ path('app_presentation_edit', {'id': presentation.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de présentation disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_presentation_new') }}">Créer une présentation</a>
    {% endblock %}
{% endblock %}
